<fieldset>
<legend>Editing Restaurant</legend>

<% form_for(@restaurant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price, :size => '4' %>
  </p>
  <p>
    <%= f.label :open %>
    <%= f.check_box :open %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :size => '28x2' %>
  </p>
  <p>
	todo: add choices (selection, required)
	<div id="choices">
		<%= render :parital => 'choices/show', :collection => @restaurant.choices %>
	</div>
  </p>
  <p style='text-align:center'>
    <%= f.submit "Update" %>
  </p>
<% end %>

</fieldset>
