<fieldset>
<legend>New Restaurant</legend>

<%= debug params %>

<% form_for(@restaurant) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price, :size => '4' %>
  </p>
  <p>
    <%= f.label :open %>
    <%= f.check_box :open %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :size => '28x2' %>
  </p>
  <p>
    <table>
      <th>Required</th>
      <th>Required To Go</th>
      <th>Choice</th>
      <% Selection.all.each do |selection| %>
      <tr>
        <td><%= check_box_tag "restaurant[required_selection_ids][]", selection.id %></td>
        <td><%= check_box_tag "restaurant[required_to_go_selection_ids][]", selection.id %></td>
	    <td><%= selection.name %>: <%= selection.options.collect{|o| o.name}.join(', ') %></td>
      <tr/>
	  <% end %>
	
    </table>
  </p>
  <p style='text-align:center'>
    <%= f.submit "Create" %>
  </p>
<% end %>


</fieldset>