<p>
  <b>Name:</b>
  <%=h @restaurant.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @restaurant.date %>
</p>

<p>
  <b>Price:</b>
  <%=h @restaurant.price %>
</p>

<p>
  <b>Open:</b>
  <%=h @restaurant.open %>
</p>

<p>
  <b>Description:</b>
  <%=h @restaurant.description %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
