<% form_for :account, @account, :action => "login" do |f| %>
  <%= error_messages_for :account %>
  <table class="loginForm" align="center">
    <tbody>
      <tr>
		<td><%= f.label :email %></td>
		<td><%= f.text_field :email %></td>
      </tr>
      <tr>
		<td><%= f.label :password %></td>
		<td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit "Login" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
