<h3>Come Join the Hungry Hawk for Lunch!</h3>
<p>
  Join Ankeny High School’s Hungry Hawk students 
  on the west side of the Media Center 
  during 1st lunch (<%= @first_lunch.begin_end_times %>).
  If you have 2nd lunch (<%= @second_lunch.begin_end_times %>) 
  you can pick up your lunch to go in our kitchen.
</p>

<p>
  This meal will help the students gain valuable, 
  real-world experience in many aspects of working 
  in a restaurant including quantity food production,  
  customer service, financial management, 
  and sanitation procedures. 
</p>
<p>
  The cost of the meal 
  is <%= number_to_currency @next_restaurant.price %> 
  to be paid to the host when you arrive.
</p>

<hr/>

<h3>The next restaurant will be <%= @next_restaurant.date_formatted %></h3>

<% if !@next_restaurant.description.blank? %>
<p style='font-style: italic; text-align: center'>
	On the menu:<br/> <%= @next_restaurant.description %> 
</p>
<% end %>
<hr/>

<p style='font-style: italic; text-align: center'>
  <%= link_to 'Make a reservation', new_reservation_url %>
</p>
