<h1>Listing drinks</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for drink in @drinks %>
  <tr>
    <td><%=h drink.name %></td>
    <td><%= link_to 'Show', drink %></td>
    <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
    <td><%= link_to 'Destroy', drink, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New drink', new_drink_path %>
