<fieldset>
<legend>Editing dressings</legend>

<% form_for(@dressing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @dressing %> |
<%= link_to 'Back', dressings_path %>

</fieldset>
