<fieldset>
<legend>New Reservation</legend>


<% form_for(@reservation) do |f| %>
  <p class="error">
    <%= f.error_messages %>
  </p>

  <p>
    <%= f.label :restaurant_id %>
    <%= collection_select("reservation", "restaurant_id", Restaurant.find(:all), "id", "name_on_date", options ={:include_blank => true} ) %>
  </p>
  <p>
    <%= f.label :lunch_period_id %>
    <%= collection_select("reservation", "lunch_period_id", LunchPeriod.find(:all, :order => :period), "id", "to_s", options ={:include_blank => true} ) %>
  </p>
  <p>
    <%= f.label :take_out %>
    Yes <%= f.radio_button :take_out, :yes %>
    No <%= f.radio_button :take_out, :no %>
  </p>
  <p>
    <%= f.label :special_request %>
    <%= f.text_area :special_request, :size => '32x3'%>
  </p>
  <p>
    <%= f.submit "Make Reservation" %>
  </p>
<% end %>

</fieldset>
