<script type="text/javascript" language="JavaScript">
function showRestaurantDesc() {
//hmmm...?
}
</script>

<fieldset>
<legend>New Reservation</legend>

<%= error_messages_for :reservation %>

<% form_for(@reservation) do |f| %>

  <p>
    <%= f.label :restaurant_id %>
    <%= collection_select("reservation", "restaurant_id", Restaurant.all, "id", "date_formatted", 
			{:include_blank => true}, 
			{:onchange => 
				remote_function(:update => "restaurant_choices", :method => :get, :url => {
					:controller => "selections", :action => "index", :restaurant_id => 1}) + #ideally the restaurant id instead of 
					"; showRestaurantDesc()"} ) %>
  </p>
  <p>
    <%= f.label :lunch_period_id %>
    <%= collection_select("reservation", "lunch_period_id", LunchPeriod.find(:all, :order => :period), "id", "to_s", options ={:include_blank => true} ) %>
  </p>
  <p>
    <%= f.label :number_of_guests %>
    <%= f.text_field  :number_of_guests, :size => '2'%> (not including yourself)
  </p>
  <p>
    <%= f.label :names_of_guests %>
    <%= f.text_area :names_of_guests, :size => '26x2'%>
  </p>
  <p>
	<%= f.label :to_go %>
	<%= f.check_box :to_go %>
  </p>
  <p>
	<div id="restaurant_choices">
		todo: for each restaurant.choice, decide		
	</div>
  </p>
  <p>
    <%= f.label :special_request %>
    <%= f.text_area :special_request, :size => '26x2'%>
  </p>
  <p style='text-align: center'>
    <%= f.submit "Make Reservation" %>
  </p>
<% end %>

</fieldset>
