<fieldset>
<legend>Manage</legend>

<p>
  <%= link_to 'Reservations', reservations_url %>
</p>
<p>
  <%= link_to 'Restaurants', restaurants_url %>
</p>
<p>
  <%= link_to 'Drinks', drinks_url %>
</p>
<p>
  <%= link_to 'Dressings', dressings_url %>
</p>
<p>
  <%= link_to 'Users', users_url %>
</p>

</fieldset>