<fieldset>
<legend>User Registration</legend>

<%= error_messages_for 'user' %>

<% form_tag(:action => 'register') do %>

<p>
	<%= label :email, :email %>
	<%= text_field "user", "email", "maxlength" => 50, "size" => 20 %>
</p>
<p>
	<%= label :first_name, :first_name %>
	<%= text_field "user", "first_name", "maxlength" => 20, "size" => 20 %>
</p>
<p>
	<%= label :last_name, :last_name %>
	<%= text_field "user", "last_name", "maxlength" => 20, "size" => 20 %>
</p>
<p>
	<%= label :password, :password %>
	<%= password_field "user", "password", "maxlength" => 20, "size" => 20 %>
</p>
<p>
	<%= label :password_confirmation, :password_confirmation %>
	<%= password_field "user", "password_confirmation", "maxlength" => 20, "size" => 20 %>
</p>

<p>
  <%= submit_tag "sign up" %>
</p>

<% end %>

</fieldset>
