<%= error_messages_for 'user' %>

<h1>Register</h1>

<% form_tag(:action => 'register') do %>

<p>
	username: <%= text_field "user", "username", "maxlength" => 20, "size" => 20 %><br/>
</p>

<p>
	first name:	<%= text_field "user", "first_name", "maxlength" => 20, "size" => 20 %><br/>
	last name: <%= text_field "user", "last_name", "maxlength" => 20, "size" => 20 %>
</p>

<p>
	email address: <%= text_field "user", "email", "maxlength" => 50, "size" => 20 %>
</p>

<p>
	password: <%= password_field "user", "password", "maxlength" => 20, "size" => 20 %>
</p>

<p>
	confirm password: <%= password_field "user", "confirm_password", "maxlength" => 20, "size" => 20 %>
</p>

<input type="submit" value="sign up" /></p>

<% end %>

</div>