<div align="right" style="width: 600px">

<%= '<b>'+flash[:info]+'</b><hr />' if flash[:info] %>

<h3 align="center">New user registration</h3>

<%= error_messages_for 'user' %>

<% form_tag(:action => 'register') do %>

<p>
  Login: 
<%= text_field 'user', 'username' %>
</p>
<p>
  Password: 
<%= password_field 'user', 'password' %>
</p>
<p>
  Password again: 
<%= password_field 'user', 'password_confirmation' %>
</p>
<p>
  E-mail: 
<%= text_field 'user', 'email' %>
</p>

  <%= submit_tag "Register me" %>

<% end %>

</div>
